PORT=5001

# Replace with your Atlas connection string, e.g., mongodb+srv://... 
MONGODB_URI=local

# Replace with a cryptographically secure random string.
JWT_SECRET=yoursecrethere

# Replace with your desired Admin login credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ADMIN_PASSWORD
